#navbar {
    display: flex;
    justify-content: space-around;
    color: red;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}

#option {
    display: flex;
    justify-content: right;
    gap: 50px;
}